/* Define styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Define styles for table rows */
tr {
    background-color: #f8f9fa; /* Light gray background */
}

/* Define styles for table cells */
td {
    padding: 8px;
    border: 1px solid #dee2e6; /* Light gray border */
}

/* Define styles for table headers */
th {
    padding: 8px;
    border: 1px solid #dee2e6; /* Light gray border */
    background-color: #e9ecef; /* Light blue-gray background */
}

/* Define styles for links */
a {
    color: #007bff; /* Blue color for links */
    text-decoration: none;
}

/* Define styles for hovered links */
a:hover {
    text-decoration: underline;
}
.remove{
    color: red;
}
