img {
    width: 200px;
}
.score { font-size:150%; color: #36407F; }
.scoreinfo { vertical-align: top; padding-right:15px; }
.topscoreheader {
    text-align: center;
    font-size: 160%;
    background-color: #36407F; 
    color: #FFFFFF;
}